::::{grid} 1 2 2 3
:gutter: 2

{% for section in data %}
## {{ section["section"] }}

{% for item in section["items"] %}
:::{card}
:link: {{ item.website or item.notebook }}
{% if item.image %}:img-top: {{ item.image }}{% endif %}

**{{ item.name }}**

{% if item.summary %}{{ item.summary }}{% endif %}

:::
{% endfor %}

::::
{% endfor %}